#slider_cont > div{
  height: 200px;
}
img{
  margin:50px;
  width: 1285px;
}
#slider_cont {
  position:absolute;
  width: 400px;
  left:10%;
  top:20px;
 margin-left:-200px;
}


.slider {
    width: 800px;
    height: 400px;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
    border: 20px solid #FFF;
    margin-top: 20px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
}

.arrow {
    position: absolute;
    z-index: 1002;
    color:#444;
    display: block;
    top: 50%;
    margin-top: 45px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(../img/blank.gif) no-repeat;
}

.arrow-prev {
   color:#444;
    opacity: 0.2;
    left: 20px;
    background-image: url(../img/paddle_prev_999.png);
    transition: 0.2s linear all;
}

.arrow-next {
   color:#444;
    opacity: 0.2;
    right: 20px;
    background-image: url(../img/paddle_next_999.png);
    transition: 0.2s linear all;
}

.arrow-prev:hover {
   color:#444;
    opacity: 1;
    background-image: url(../img/paddle_prev_fff.png);
}

.arrow-next:hover {
   color:#444;
    opacity: 1;
    background-image: url(../img/paddle_next_fff.png);
}



/*---------------------------------------------------------
NAV
---------------------------------------------------------*/

.fullBg {
    position: fixed;
    top: 20;
    left: 0;
}

.nav {
    position: absolute;
    right: 35px;
    top: 35px;
    z-index: 110;
    float: none;
    clear: both;
    margin: 0;
    padding: 0;
}

.nav li {
    cursor: pointer;
}

.nav a {
    background-color: rgba(255, 255, 255, 0.50);
}
